body, html { 
    background: linear-gradient(0deg, rgba(22, 148, 194, 0.742), rgba(4, 36, 48, 0.742)), url("images/background-couple.jpg") no-repeat   fixed; 
    
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}   


.container-intro{
    margin-top: 200px;
    margin-left: 50px;
    width: 960px;  
    padding-left: 30px;
    margin-bottom: 200px;
}
h1{
   font-family:  'Happy Monkey';font-size: 70px;
   color: white;
   letter-spacing: 5%;
   line-height: 75px;
}

h2{
    font-family:  'Italiana';font-size: 35px;
    letter-spacing: 5%;
    color: white;
    padding-top: 15px;
}

h3{
    font-family:  'Italiana';font-size: 30px;
    letter-spacing: 5%;
    color: white;
    font-weight: bolder;
    padding-top: 15px;
}

.log-in{
    width: 200px;

    font-size: 22px;
    margin-top: 35px;
}
.log-in:hover{
    background-color:rgba(233, 210, 36, 0.769);
}




@media screen and  (min-width: 360px) and (max-width: 500px){

.container-intro{
    width: 80%;
    margin: auto;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

.log-in{
margin-left: auto;
margin-right: auto;
}







}
